<section class="contact">
    <div class="wrapper">
        <div class="contact-inner">
            <h2 class="title text-center title-line">Contact Us</h2>
            <div class="contact-block">
                <div class="contact-block-img">
                    <img src="img/contact-phone.png" alt="contact-phone">
                </div>
                <a href="3579056759">+357 9056759</a>
            </div>
            <div class="contact-block">
                <div class="contact-block-img">
                    <img src="img/contact-email.png" alt="contact-email">
                </div>
                <a href="mailto:contact@pamrelocation.com">contact@pamrelocation.com</a>
            </div>

            <form class="contact-form">
                <div class="contact-form__inner">
                    <h3 class="contact-form__title">send inquiry</h3>
                    <div class="contact-form__line">
                        <div class="contact-form__item">
                            <input type="text" class="contact-form__input" placeholder="Your Name"/>
                        </div>
                        <div class="contact-form__item">
                            <input type="text" class="contact-form__input" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="contact-form__line">
                        <div class="contact-form__item">
                            <input type="text" class="contact-form__input" placeholder="Subject"/>
                        </div>
                        <div class="contact-form__item">
                            <input type="text" class="contact-form__input" placeholder="Phone"/>
                        </div>
                    </div>
                    <textarea class="contact-form__textarea" placeholder="Your message"></textarea>
                    <div class="contact-form__label">
                        <label  class="checkbox">
                            <input type="checkbox" class="checkbox__input">
                            <div class="checkbox__marker"></div>
                            <div class="checkbox__text">
                                By clicking “Submit button” you accept our <a href="#">Terms & Conditions</a>
                                and have read our <a href="#">Privacy Policy</a> and <a href="#">Disclaimer</a>
                            </div></label>
                    </div>
                    <button class="btn contact-form__btn">Submit</button>
                </div>


            </form>
        </div>
    </div>
</section>