<footer class="footer">
    <div class="wrapper">
        <div class="footer-inner">
            <div class="footer-info__list">
                <div class="footer-info">© 2022 PAM Consulting. All rights reserved</div>
                <a href="/disclaimer.html" class="footer-info__link">Disclaimer</a>
                <a href="/privacy_policy.html" class="footer-info__link">Privacy poilcy</a>
            </div>
            <a href="#" class="footer-right">
                Who designed this website?
            </a>
        </div>
    </div>
</footer>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/plugins.min.js"></script>
<script src="js/main.min.js"></script>